.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.itemsContainer {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
  align-items: center;
}
.item {
  width: 250px;
  height: 300px;
  border: 2px solid white;
  background: gray;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .Container_Exercicios {
  display: flex;
  justify-content: space-between;
  top: 10px;
  left: 10px;
}


.item_ButtonEx {
  background: rgb(227, 102, 7);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 400px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .Container_header_button {
  background-color: #282c34;
   display: flex;
  justify-content: space-between;
  top: 10px;
  left: 10px;
}

.App .Container_header_button .header_button {
  background: rgb(227, 102, 7);
   margin-top: 50px; 
  width: 150px;
  height: 30px;
}